In [8]:
# Importing Required Libraries
import requests
from bs4 import BeautifulSoup
import lxml
import pandas as pd

In [35]:
# Simple Data Scraping Project using Beautiful Soup
url = 'https://www.worldometers.info/world-population/'
page = requests.get(url)

soup = BeautifulSoup(page.text,'lxml')

# Finding the table inside the html which we want to scrape
table = soup.find('table',class_ = 'table table-striped table-bordered table-hover table-condensed table-list')

# We see that all the name of the columns are inside the th tags which are inside of the first tr tag. 
# Since these are only th tags, we find all of them then scrape them

table_columns_html = table.find_all('th')
table_columns = [] # Stores all names of columns

for column in table_columns_html:
    # Appending the name of columns
    table_columns.append(column.text) 
table_columns

# Creating a pandas DataFrame for storing the table
data = pd.DataFrame(columns=table_columns)

# We see that all the data rows are inside the tr tag of table. We ignore the first tr tag since it contains name
# of the columns and we have already considered it. Hence we find all the other tr tags and scrape them
rows = table.find_all('tr')[1:]

# Looping through all the rows to scrape individual values then add them to data frame
for row in rows:
    # Getting all the individual elements in html format
    elements = row.find_all('td') 
    add_row = []
    for element in elements:
        # Extracting the text from individual html elements
        add_row.append(element.text)

    # Adding it to the dataframe
    data.loc[len(data.index)] = add_row
  
data

,Year (July 1),Population,Yearly % Change,Yearly Change,Median Age,Fertility Rate,Density (P/Km²)
0,2020,"7,794,798,739",1.05 %,"81,330,639",30.9,2.47,52
1,2019,"7,713,468,100",1.08 %,"82,377,060",29.8,2.51,52
2,2018,"7,631,091,040",1.10 %,"83,232,115",29.8,2.51,51
3,2017,"7,547,858,925",1.12 %,"83,836,876",29.8,2.51,51
4,2016,"7,464,022,049",1.14 %,"84,224,910",29.8,2.51,50
5,2015,"7,379,797,139",1.19 %,"84,594,707",30,2.52,50
6,2010,"6,956,823,603",1.24 %,"82,983,315",28,2.58,47
7,2005,"6,541,907,027",1.26 %,"79,682,641",27,2.65,44
8,2000,"6,143,493,823",1.35 %,"79,856,169",26,2.78,41
9,1995,"5,744,212,979",1.52 %,"83,396,384",25,3.01,39
10,1990,"5,327,231,061",1.81 %,"91,261,864",24,3.44,36
11,1985,"4,870,921,740",1.79 %,"82,583,645",23,3.59,33
12,1980,"4,458,003,514",1.79 %,"75,704,582",23,3.86,30
13,1975,"4,079,480,606",1.97 %,"75,808,712",22,4.47,27
14,1970,"3,700,437,046",2.07 %,"72,170,690",22,4.93,25
15,1965,"3,339,583,597",1.93 %,"60,926,770",22,5.02,22
16,1960,"3,034,949,748",1.82 %,"52,385,962",23,4.90,20
17,1955,"2,773,019,936",1.80 %,"47,317,757",23,4.97,19